---
serverinventory:
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}
  - Requested_By: '{{ list[0]|trim() }}'
    Environment: '{{ list[1]|trim() }}'
    Planned_Start_date: '{{ list[2]|trim() }}'
    Planned_End_date: '{{ list[3]|trim() }}'
      
{%   endif %}
{% endfor %}
